.cart-list {
    width: 100%;
  }
  .cart-list td, .cart-list th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .cart-list tr:nth-child(even){background-color: #f2f2f2;}
  
  .cart-list tr:hover {background-color: #ddd;}
  
  .cart-list th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: lightslategrey;
    color: white;
  }
  .page-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
  }