@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap');
@import url(reset.css);
* {
    box-sizing: border-box;
}
body { 
    font-family: 'Poppins', sans-serif; 
    font-size: 16px;
    color: #696969;
    font-weight: 400;
    background-color: white;
}
img {
    max-width: 100%;
}
a img {
    vertical-align: top;
}
.container {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 35px;
}
.btn {
    border: none;
    background-color: none;
}
button {
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
}
.col-2 {
    width: 16.66666666667%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.333333333%;
}
.col-6 {
  width: 50%;
}
.col-8 {
    width: 66.666666667%;
}
/* Header */
.page-header { 
    background-color: lightslategrey;
    line-height: 120px;
}
.header {
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.header-middle {
    line-height: 120px;
}
.header-logo img {
    width: 90px;
    border-radius: 50%;
    vertical-align: middle;
}
.cart-add {
    position: relative;
    font-size: 50px;
    padding: 0;
    display: inline-block;
}
.cart-add i:hover {
    color:darkslategray;
}
.cart-add span {
    display: inline-block;
    line-height: 25px;
    color: white;
    position: absolute;
    font-size: 15px;
    top: 20px;
    right: -10px;
    background-color: black;
    width: 25px;
    height: 25px;
    text-align: center;
    border-radius: 100%;
}
/* Main */
.page-main {
    padding-top: 50px;
}
.section-title {
    font-size: 30px;
}
.product-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
}
.product-item {
    margin-top: 20px;
    padding-left: 30px;
}
.product-name {
    margin: 10px 0px;
    font-size: 25px;
}
.img-hover-zoom {
    height: auto;
    width: 100%;
    overflow: hidden;
    position: relative;
}
.img-hover-zoom img {
    transition: transform 2s ease;
}
.img-hover-zoom:hover img {
    transform: scale(1.5);
}
.btn-primary {
    width: 100px;
    height: 30px;
    border: 1px solid #ddd;
    border-radius: 20px;
}
.product-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn-primary:hover {
    color:blue;
    background-color:antiquewhite;
}

/* Footer */
.page-footer {
    margin-top: 50px;
    background-color: lightslategrey;
    line-height: 50px;
    text-align: center;
    color: white;
}
