<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart</title>
    <script src="https://kit.fontawesome.com/ccd4eab307.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/cart.css">
</head>
<body>
    <header class="page-header">
        <div class="header container">
            <div class="header-left"></div>
            <div class="header-middle">
                <a href="#" class="header-logo">
                    <img src="../img/logo.jpg" alt="logo">
                </a>
            </div>
            <div class="header-right"></div>
        </div>     
    </header>
    <main class="page-main">
        <section class="carts">
            <div class="container">
                <h2 class="section-title">Cart</h2>
                <table class="cart-list">
                    <tr>
                      <th>#</th>
                      <th>Product</th>
                      <th>Quality</th>
                      <th>Action</th>
                    </tr>
                    <tr>
                      <td>1</td>
                      <td>Maria Anders</td>
                      <td>Germany</td>
                      <td><a href="#"><i><i class="fas fa-trash-alt"></i></i></a></td>
                    </tr>
                  </table>
            </div>
        </section>
    </main>
    <footer class="page-footer">
        <p>Phạm Thành Đạt - Monstar-lab @2021</p>
    </footer>
</body>
</html>