<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="stylesheet" href="../css/index.css">
 
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css"></script>
    <script src="https://kit.fontawesome.com/ccd4eab307.js" crossorigin="anonymous"></script>
</head>
<body id="body-pd">
    <aside class="sidebar ">
        <div class="logo_content">
            <div class="logo">
                <i class='bx bx-cool' ></i>
                <div class="logo_name">Admin</div>
            </div>
            <i class='bx bx-menu' id="btn"></i>
        </div>
        <ul class="nav_list">
            <li>
                <a href="#">
                    <i class='bx bx-search' ></i> 
                    <input type="text" placeholder="Search...">
                </a>
                <span class="tooltip">Search</span>
            </li>
            <li>
                <a href="./listUser.html">
                    <i class='bx bx-user' ></i>
                    <span class="links_name">User</span>
                </a>
                <span class="tooltip">User</span>
            </li>
            <li>
                <a href="./listUser.html">
                    <i class='bx bx-user' ></i>
                    <span class="links_name">User</span>
                </a>
                <span class="tooltip">User</span>
            </li>
            <li>
                <a href="./listUser.html">
                    <i class='bx bx-user' ></i>
                    <span class="links_name">User</span>
                </a>
                <span class="tooltip">User</span>
            </li>
        </ul>
        <div class="profile_content">
            <div class="profile">
                <div class="profile_details">
                    <img src="../image/profile.jpg" alt="profile">
                    <div class="name_job">
                        <div class="name">Phạm Thành Đạt</div>
                        <div class="job">Web Designer</div>
                    </div>
                </div>
                <i class='bx bx-log-out' id="log_out"></i>
            </div>
        </div>
    </aside>
    <div class="home_content">
        <header class="page-header">
            <div class="container-fluid">
                <div class="header-content ">
                    <nav class="header-nav">
                        <ul class="nav-list">
                            <li class="nav-item">
                              <a class="nav-link" aria-current="page" href="#">Home</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" href="#">Contact</a>
                            </li>
                        </ul>
                    </nav>
                    <ul class="action-list">
                        <li class="action-item">
                            <a href="#"><i class="far fa-comments"></i></a>
                        </li>
                        <li class="action-item">
                            <a href="#"><i class="far fa-bell"></i></a>
                        </li>
                        <li class="action-item">
                            <a href="#"><i class="fas fa-expand-arrows-alt"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </header>
        <main class="page-main">
            <div class="content">
                <div class="container-fluid">
                  <div class="main-body">
    
                    <!-- Breadcrumb -->
                    <nav aria-label="breadcrumb" class="main-breadcrumb">
                      <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item"><a href="javascript:void(0)">User</a></li>
                        <li class="breadcrumb-item active" aria-current="page">User Profile</li>
                      </ol>
                    </nav>
                    <!-- /Breadcrumb -->
              
                    <div class="row gutters-sm">
                      <div class="col-md-4 mb-3">
                        <div class="card">
                          <div class="card-body">
                            <div class="d-flex flex-column align-items-center text-center">
                              <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle" width="150">
                              <div class="mt-3" id="user-avt">
                                <h4>John Doe</h4>
                                <p class="text-secondary mb-1">Full Stack Developer</p>
                                <p class="text-muted font-size-sm">Bay Area, San Francisco, CA</p>
                                <button class="btn btn-primary">Follow</button>
                                <button class="btn btn-outline-primary">Message</button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-8">
                        <div class="card mb-3">
                          <div class="card-body">
                            <div class="row">
                              <div class="col-sm-3">
                                <h6 class="mb-0">Full Name</h6>
                              </div>
                              <div class="col-sm-9 text-secondary">
                                Kenneth Valdez
                              </div>
                            </div>
                            <hr>
                            <div class="row">
                              <div class="col-sm-3">
                                <h6 class="mb-0">Email</h6>
                              </div>
                              <div class="col-sm-9 text-secondary">
                                fip@jukmuh.al
                              </div>
                            </div>
                            <hr>
                            <div class="row">
                              <div class="col-sm-3">
                                <h6 class="mb-0">Phone</h6>
                              </div>
                              <div class="col-sm-9 text-secondary">
                                (239) 816-9029
                              </div>
                            </div>
                            <hr>
                            <div class="row">
                              <div class="col-sm-3">
                                <h6 class="mb-0">Role</h6>
                              </div>
                              <div class="col-sm-9 text-secondary">
                                Admin
                              </div>
                            </div>
                            <hr>
                            <div class="row">
                              <div class="col-sm-3">
                                <h6 class="mb-0">Address</h6>
                              </div>
                              <div class="col-sm-9 text-secondary">
                                Bay Area, San Francisco, CA
                              </div>
                            </div>
                            <hr>
                            <div class="row">
                              <div class="col-sm-12">
                                <a class="btn btn-info " target="__blank" href="https://www.bootdey.com/snippets/view/profile-edit-data-and-skills">Edit</a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
          
                  </div>
                </div>
            </div>
        </main>
        <footer class="page-footer">
            <div class="footer">
                <p class="footer-content">Phạm Thành Đạt - Monstarlab @2021</p>
            </div>
        </footer>
    </div>
    <script src="../js/index.js"></script>
    <script src="../js/detailUser.js"></script>
</body>
</html>