<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product</title>
    <script src="https://kit.fontawesome.com/ccd4eab307.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <header class="page-header">
        <div class="header container">
            <div class="header-left"></div>
            <div class="header-middle">
                <a href="#" class="header-logo">
                    <img src="../img/logo.jpg" alt="logo">
                </a>
            </div>
            <div class="header-right">
                    <a href="cart.html" class="cart-add">
                        <i class="fas fa-cart-plus"></i>
                        <span class="count-products" id="cart-total">0</span>
                    </a>
            </div>
        </div>     
    </header>
    <main class="page-main">
        <section class="products">
            <div class="container">
                <h2 class="section-title">New Products</h2>
                <ul class="product-list" id="list-product">
                </ul>
            </div>
        </section>
    </main>
    <footer class="page-footer">
        <p>Phạm Thành Đạt - Monstar-lab @2021</p>
    </footer>
    <script src="../js/index.js"></script>
    <script src="../js/product.js"></script>
</body>
</html>